<ul style="list-style-type: undefined;">
    <li>IGG has 3 x Sites</li>
</ul>
<ul style="list-style-type: disc;margin-left:44px;">
    <li>Nations Tower</li>
    <li>Umm Al Nar</li>
    <li>Tawazun Industrial Park &ndash; Ajban</li>
</ul>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<ul style="list-style-type: undefined;">
    <li>Nations Tower connected with Umm Al Nar via <span style="color:black;">MPLS Leased&nbsp;</span>line <span style="color:black;">8 Mbps.</span></li>
    <li>TIP Ajban is connected with Umm Al Nar via IPSEC VPN tunnel.</li>
    <li>IPSEC VPN are configured on top of MPLS leased line.</li>
    <li>OSPF is used as dynamic routing protocol between sites.</li>
</ul>
<div style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;border:none;padding:0cm;'>&nbsp;</p>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;border:none;padding:0cm;'>&nbsp;</p>
</div>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><u>Site 1 - Nations Tower</u></strong></p>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong>&nbsp;</strong></p>
<ul style="list-style-type: undefined;">
    <li>FortiGate 102F</li>
    <li>Below are the Security Zones configured in the FW</li>
</ul>
<ul style="list-style-type: disc;margin-left:44px;">
    <li>Internet - ADSL (100Mbps), Single ISP connection.</li>
    <li>WAN - 8 Mbps MPLS Leased with MPLS Etisalat VRF, limited Bandwidth (since most servers are in Umm Al Nar).</li>
    <li><span style="color:black;">Internal Zone</span></li>
</ul>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<ul style="list-style-type: undefined;">
    <li>5 x Servers are there approximately. (Nutanix).</li>
    <li>Domain Controller.</li>
    <li>Nation Tower has VM infrastructure while other Sites has physical Servers</li>
    <li>All Cisco Switches are Layer 2 in Nation tower.</li>
</ul>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<ul style="list-style-type: undefined;">
    <li>L3 is on the Firewalls</li>
    <li>There are 10 x User Access VLANs configured with GW on the FW.</li>
</ul>
<ul style="list-style-type: disc;margin-left:44px;">
    <li>AP-NT-52 (Wireless Access Points)</li>
    <li>CUCM-SRV (Cisco Call Manager)</li>
    <li>ELV-AC (Power Manager System &ndash; Supreme)</li>
    <li>GTS-LAN (GTS IT Business Unit / Arm of IGG)</li>
    <li>GTS-WIFI-Guest</li>
    <li>GTS-WLAN-Staff</li>
    <li>GTS-WLC-MGMT</li>
    <li>NETWORD-D (NETWORK MANAGEMENT)</li>
    <li>NT28-LAN</li>
    <li>PMD-LAN (29<sup>th</sup> Floor NT)</li>
    <li>NUTANIX-80-84</li>
    <li>Printers</li>
    <li>Servers</li>
    <li>Voice-28</li>
    <li>Voice -41</li>
    <li>WLC-NT (WLC Management Network)</li>
</ul>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<div style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;border:none;border-bottom:solid windowtext 1.0pt;padding:0cm 0cm 1.0pt 0cm;'>
    <p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;border:none;padding:0cm;'>&nbsp;</p>
</div>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'><strong><u>Site 2 - Umm Al Nar</u></strong></p>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
<ul style="list-style-type: undefined;">
    <li>Umm Al Nar has two Firewalls</li>
    <li>FortiGate 201e &ndash; Perimeter and WAN<ul style="list-style-type: disc;">
            <li>ADSL for internet connectivity.</li>
            <li>Leased Line<ul style="list-style-type: square;">
                    <li>(For published services)</li>
                </ul>
            </li>
            <li>WAN/MPLS</li>
            <li>Trust (below are the VLANs configured in FGT FW).<ul style="list-style-type: square;">
                    <li>Transit network to FTD</li>
                    <li>FTD Management Network</li>
                    <li>Geeps (another subsidiary)</li>
                    <li>IGG-Admin/HR&nbsp;</li>
                    <li>IGGEAT (another subsidiary)</li>
                    <li>ISC &ndash; Integrated Service Center (another subsidiary)</li>
                    <li>MRD &ndash; Marketing Department</li>
                    <li>Switch Management</li>
                    <li>WLAN (used for both guest and corporate<ul style="list-style-type: disc;">
                            <li>No WLC in Umm Al Nar (WAP are standalone no WLC)</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Cisco FTD2120-IPS &ndash; Server Farm<ul style="list-style-type: disc;">
            <li>Osama has lost the password for the Cisco FTD, no fresh FW config backup is available.</li>
            <li>Can no longer access the firewall.</li>
            <li>2 x VLANs are there in the server farm.<ul style="list-style-type: square;">
                    <li>Servers</li>
                    <li>Exchange</li>
                </ul>
            </li>
            <li>There is total 6-7 servers in Umm Al Nar.</li>
        </ul>
    </li>
</ul>
<p style='margin:0cm;font-size:16px;font-family:"Calibri",sans-serif;'>&nbsp;</p>